.navbar {
    background-color: #027DBF;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}

.navbar a {
    color: white;
}

.navbar-toggler {
    background-color: white;
}
header img {
    width: 50px;
}

.nav img {
    display: none;
}

/* slide portion */
.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    color: white;
    /* margin-top: 20px; */
    /* background-color: red; */
  }

 .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide div {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }

  /* .slide img {
    width: 100%;
    height: 100%;
  } */

/* .hero {
    background-image: url(./images/hero.jpg);
} */

.hero {
    background-image: url("./images/hero.jpg");
}

.marketPlace {
    background-image: url("./images/cash.avif");
}

.tutoring {
    background-image: url("./images/tutoring.jpg");
}

.rating {
    background-image: url("./images/rating.jpg");
}

.rideShare {
    background-image: url("./images/rideshare.jpg");
}

.studyGroups {
    background-image: url("./images/study.jpg");
}

.slide h1 {
    position: absolute;
    z-index: 1;
}

  .slide div img {
    width: 100%;
  }

  .slide h1 {
    padding: 20px;
    border-radius: 10px;
    background-color:#027DBF;
  }

  .slide h1:hover {
    background-color:#002e47;
    cursor: pointer;
    color: white;
    opacity: 1;
    transition: .1s;
  }
  
  .slide.active {
    opacity: 1;
  }

  /* end of slide portion */


.title {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    background-color: black;
    color: yellow;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* mobile responsiveness */
@media screen and (max-width: 480px) {
    .slide img {
        margin-top: 0px;
    }

    .slider h1 {
        font-size: 20px;
        bottom: 0;
        width: 100%;
        text-align: center;
        border-radius: 0;
        background-color: #002e47;
    }
}

.hero2 {
    background-image: url(./images/career.jpeg);
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.article2 {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    /* background-color:#027dbf4d; */
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 100px;
}

/* dots */
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    opacity: 1;
  }
  

@media screen and (max-width: 768px) {

    .main2 {
        /* background-color: red; */
        margin: 0;
        padding: 0;
    }

    .article2 {
        width: 95%;
        padding: 5px;
        text-align: justify;
    }
}

.hero h1 {
    color: white;
    text-align: center;
}

/* about section */

.aboutSection {
    /* margin-top: 20px; */
    color: white;
    display: flex;
    background-color: #027DBF;
}

.aboutSection .left {
    padding: 30px;
    height: 100%;
    width: 50%;
}

.aboutSection .right {
    /* padding: 50px; */
    width: 60%;   
    /* background-color: orange; */
}

.aboutSection .right .container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    /* background-color: pink; */
    display: block;
    height: 400px;
}

.col {
    height: 300px;
}

.aboutSection .right img {
    width: 100%;
}

#image0 {
    background-image: url("./images/appScreenshot/IMG_6612.jpg");
    background-size: cover;
    margin-left: 10%; 
    margin-top: 20px;
}

#image1 {
    /* background-color: purple;  */
    background-image: url("./images/appScreenshot/IMG_6613.jpg");
    background-size: cover;
    margin-left: 10%; 
    margin-top: 20px;
}

#image2 {
    background-image: url("./images/appScreenshot/IMG_6614.jpg");
    background-size: cover;
    margin-left: 19.5%; 
    margin-top: 30px;
}

#image3 {
    background-image: url("./images/appScreenshot/IMG_6615.jpg");
    background-size: cover;
    margin-left: 28%; 
    margin-top: 40px;
}



@media screen and (max-width:768px) {

    .aboutSection {
        display: flex;
        flex-direction: column;
    }

    .aboutSection .left {
        /* background-color: red; */
        width: 100%;
    }

    .aboutSection .right {
        width: 100%;
        /* background-color: purple; */
    }

    .aboutSection .right .container {
        width: 100%;
        /* background-color: white; */
        /* background-color: red; */
        /* width: 100%; */
        /* display: block; */
        /* margin: 0; */
    }

    /* .aboutSection .right .container {
        display: block;
    } */


    /* .right {
        display: block;
        background-color: green;
    } */

    /* .aboutSection {
        display: block;
        flex-direction: column;
    } */

    /* .aboutSection .left {
        margin: auto;
        width: 90%;
    } */


    .aboutSection .right {
        margin: auto;
        width: 100%;
        margin-bottom: 25px;
    }

    /* .aboutSection .right img {
        width: 100%;
        margin-top: 20px;
    } */

    /* .aboutSection .right .row {
        background-color: pink;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        left: 0;
        margin-left: 0;
    }  */

    .row {
        display: flex;
        justify-content: space-between;
    }
    
    #image1 {
        background-color: purple; 
        margin-left: 0; 
        margin-top: 10px;
    }
    
    #image2 {
        background-color: green;
        margin-left: 0; 
        margin-top: 10px;
    }
    
    #image3 {
        background-color: yellow; 
        margin-left: 0; 
        margin-top: 10px;
    }
}

/* section for app preview images */
.right .container {
    width: 100%;
    height: 90%;
    /* background-color: blue; */
}

.container .row {
    /* background-color: red; */
    margin: 0;
    padding: 0;
    top: 0;
}

.right .container .row .col {
    position:absolute;
    width: 200px;
    height: 100%;
    background-color: red;
    /* margin: 10px; */
}

/* @media screen and {max-width: ;
    
} */


.imagesSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.imagesSection img {
    width: 30%;
}

main {
    width: 100%;
}

@media screen and (max-width:768px){
    .imagesSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

    .imagesSection img {
        width: 100%;
        max-width: 500px;
        height: 100%;
        padding: 10px;
        margin: auto;
        
    }
}


/* article section */
article {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    display: flex;
}


article .left {
    padding: 20px;
    font-size: 30px;
    color: black;
    width: 50%;
    background-color: #027dbf30;
    border-radius: 10px;
}

article .right {
    width: 50%;
}

article .right h2 {
    margin-left: 20px;
}
@media screen and (max-width: 768px) {
    article {
        display: block;
    }

    article .left {
        width: 90%;
        margin: auto;
    }

    article .right {
        width: 90%;
        padding: 20px;
        margin: auto;
    }

    .right .container .row {
        display: flex;
    }

    .right .container .row .col  {
        position:relative;
        display: flex;
    }
}

/* contact section */
.contactForm {
    display: block;
    /* background-color: red; */
    height: 500px;
}

footer {
    margin-top: 20px;
}

footer .footerContent {
    width: 100%;
    height: auto;
    background-color: #002e47;
    color: white;
    display: flex;
    justify-content: space-around;
}

footer h2 {
    font-size: 100%;
}

.socialMedia {
    width: 80%;
    flex: 1;
    padding: 20px;
    margin-left: 20px;
}

.getIt {
    width: 80%;
    flex: 1;
    padding: 20px;
}

footer li {
    list-style: none;
}

footer .contact {
    width: 80%;
    flex: 1;
    padding: 20px;
}

footer .apple {
    margin-top: 20px;
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}

footer .google {
    width: 70%;
    margin-bottom: 20px;
}

footer img {
    width: 60%;
    max-width: 200px;
    position:static;
    border-radius: 5px;
    cursor: pointer;
}

.getIt .imagem {
    width: 100%;
    background-color: white;
}

footer i {
    font-size: 30px;
    float: left;
    margin: 20px;
}

.hide {
    display: none;
}

.disclaimer {
    width: 100%;
    margin-top: auto;
    background-color: #002e47;
    color:#195c7f;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 100px;
    padding: 10px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    footer .footerContent {
        height: auto;
    }

    footer h2 {
        font-size: 15px;
    }

    footer a {
        font-size: 10px;
    }

    .icons {
        display: flex;
    }

    footer i {
        font-size: 20px;
    }

    .getIt {
        display: none;
    }

    .socialMedia {
        margin-left: 30px;
        display: block;
        padding: 20px;
    }

    .hide {
        display: block;
        margin-top: 20px;
    }

    .contact {
        padding: 20px;
        overflow: hidden;
    }

    footer i {
        margin: 5px;
    }

    footer .google {
        margin: 0;
    }
}