body {
    /* background-color: #E3E4E6; */
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background-color: white;
    color: white;
}

.navbar ul {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav li {
    margin-top: 5px;
    margin-left: 20px;
}


footer a {
    color: black;
}

footer a:hover {
    color: #00fbff;
}

.navbar a {
    color: white;
}

.nav-item a {
    color: #01A79E;
    /* margin-left: 8.5px; */
}

.nav-item a:hover {
    color: #09514d;
    /* margin-left: 8.5px; */
    text-decoration: none;
}

.navbar-toggler {
    background-color: #09a9ac;
}
header img {
    width: 70px;
}

.nav img {
    display: none;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

/* slide portion */
.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    color: white;
  }

 .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide div {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }

  .description {
    display: flex;
    background-color: red;
  }

.hero {
    background-image: url("./images/hero.jpg");
}

.marketPlace {
    background-image: url("./images/cash.jpg");
}

.tutoring {
    background-image: url("./images/tutoring.jpg");
}

.couchsurfing {
    background-image: url("./images/couchsurfing.jpg");
}

.rideShare {
    background-image: url("./images/newRideShare.jpeg");
}

.studyGroups {
    background-image: url("./images/study.jpg");
}

.slide h1 {
    position: absolute;
    z-index: 1;
}

  .slide div img {
    width: 100%;
  }

  .slide h1 {
    padding: 10px;
    border-radius: 10px;
    background-color: #008082;
    color: #ffffff;
    font-size: 2em;
  }

  .slide h1:hover {
    cursor: copy;
    color: #008082;
    opacity: 1;
    transition: .1s;
    cursor: pointer;
  }
  
  .slide.active {
    opacity: 1;
  }

  .hero h1 {
    color: white;
    text-align: center;
}

.offer {
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.offer span {
    color: yellow;
}

/* mobile responsiveness */
@media screen and (max-width: 600px) {

    .row {
        /* background-color: red; */
        width: 100%;
        display: flex;
        /* justify-content: space-evenly; */
    }

    .container a {
     display: none;
    }
}

/* mobile responsiveness */
@media screen and (max-width: 480px) {
    .slide img {
        margin-top: 0px;
    }

    .slider h1 {
        position: absolute;
        font-size: 20px;
        bottom: 0;
        width: 100%;
        text-align: center;
        border-radius: 0;
        background-color: black;
        margin-bottom: 0;
    }


    .temporary .images img {
        margin: auto;
        margin-bottom: 20px;
        width: 50%;
        margin: 10px;
    }

    .downloadSection div {
        flex-direction: column;
        margin: auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .downloadSection .content{
        display: flex;
        justify-content: space-around;
    }

    .temporary .images img {
        /* display: none; */
        width: 49%;
    }
}

/* mobile responsiveness */
@media screen and (max-width: 479px) {
    .images {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .temporary .images img {
        text-align: center;
        /* width: 100%; */
    }
}

/* end of slide portion */
/* ///////////////////////////////////////////////////////////////////////////////// */


/* about section */
.aboutSection {
    display: flex;
    /* background-color: #038480; */
    color: white;
    /* border-radius: 20px; */
    /* width: 99%; */
    margin: auto;
    margin-top: 20px;
    /* height: 300px; */
}

.aboutSection .left {
    background-color: #038480;
}

.aboutSection .right {
    background-image:url(images/graduates.webp);
    background-position: center calc(50% + 100px);
    background-repeat: no-repeat;

}

.aboutSection a {
    color: black;
}


/* Body Section */


.body article img {
    top: 0;
    /* display: none; */
}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* aboutSection studySection */
.aboutSection #studyGroupsSection {
    background-color: red;
    width: 100%;
    padding: none;
    /* display: flex; */
    justify-content:space-around;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .comingSoon {
    display: none;
} */

/* .aboutSection #studyGroupsSection img {
    width: 100%;
} */

.body {
    display: flex;
    /* background-color: black; */
    color: white;
    /* border-radius: 20px; */
    /* width: 99%; */
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    /* height: 300px; */
}

.body img {
    width: 100%;
}

.aboutSection .left {
    padding: 30px;
    /* height: 100%; */
    flex: 1;
    /* background-color: purple; */
}

.aboutSection .body {
    padding: 0;
}

.body img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.aboutSection .right {
    /* padding: 30px; */
    flex: 2;
}

.row {
    display: block;
    height: 300px;
}

/* section for app preview images */
.right .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; /* center the images vertically */
    
}

.container .row {
    height: auto;
}

.right img {
    width: auto;
    max-height: 384px;
}

.download {
    font-weight: bold;
}

@media screen and (max-width:940px) {

.aboutSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.aboutSection .left {
    display: block;
    width: 100%;
}

.aboutSection .right {
    padding: 0;
    width: 100%;
}

.aboutSection .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.aboutSection .right {
    display: flex;
    justify-content:space-evenly;
}
}

/* about section screen 767 */
@media screen and (max-width: 767px) {
    .aboutSection .right .row {
        width: 2000px; 
        display: block;
    }


    .temporary .images img {
        /* display: none; */
        margin: 0;
    }
}



/* end of about section */

/* ///////////////////////////////////////////////////////////////////////////////// */

/* main section */


@media screen and (min-width: 1100px) {

    .aboutSection, .body {
        width: 80%;
    }

    main {
        /* background-color: red; */
        width: 80%;
        margin: auto;
    }
}

/* article section */
article {
    /* margin-top: 20px; */
    margin: auto;
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
    width: 95%;
}

/* Main */
.temporary {
    width: 100%;
    height: 100px;
    display: block;
    height: 100%;
    /* background-color: red; */
}

#studyGroupsSection {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content:space-around;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* background-color: yellow; */
    /* display: none; */
}

.temporary .left {
    display: flex;
    justify-content: space-around;
}

.temporary .left img {
    height: 100%;
}

.temporary .right {
    margin-left: 20px;
}

.temporary img {
    width: 100%;
    height: 100%; /* Set the height to 100% to fit the entire parent container */
    max-width: 500px;
    object-fit: cover;
}

.temporary h2 {
    margin-bottom: 20px;
}

.temporary #makeMoney .right {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .temporary .text  {
        display: block;
        width: 80%;
    }

    .temporary .left .text{
        background-color: red;
    }
}

/* ////////////////////////////////////////// */


article .left {
    color: white;
    width: 50%;
    border-radius: 10px;
}

article .right {
    width: 50%;
}

article .right h2 {
    margin-left: 20px;
}



.black {
    background-color: #038480;
    color: white;
    height: 100%;
    /* border-radius: 10px; */
    width: 100%;
    font-size: 30px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    /* position: absolute; */
    height: 100%;
}

.black li {
    font-size: 20px;
    list-style: none;
}

.black p {
    font-size: 20px;
    margin-left: 40px;
}

.red {
    background-color: #038480;
    /* background-color: white; */
    font-size: 20px;
    height: 100%;
    /* border-radius: 10px; */
    width: 100%;
    font-size: 20px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: black; */
}


.red li {
    list-style: none;
}

.notInverted {
    display: none;
}

/* .comingSoonDisplay {
    font-style: italic; 
    font-size: 20px; 
    background-color: black; 
    text-align: right; 
    padding-right: 20px; 
    margin-bottom: 0px; 
    
    margin-top: -30px;
} */

@media screen and (max-width: 768px) {

    /* .comingSoonDisplay {
        display: none;
    } */

    /* .comingSoon {
        display: block;
    } */

    .body ul {
        margin-bottom: 50px;
    }

    .firstBody {
        margin-top: 20px;
    }

    .body article {
        flex-direction: column;
        /* background-color: yellow; */
    }

    .body .right {
        width: 100%;
    }

    .body .left {
        width: 100%;
    }

    .body .image {
        height: 300px;
        
        /* margin-bottom: 20px; */
        /* margin-top: 20px; */
        /* transform: scale(0.8); */
    }

    .black {
        background-color: #02B3AC;
        color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .black h2 {
        margin-top: 30px;
    }

    .body img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .red {
        background-color: #02B3AC;
        color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .inverted {
        display: none;
    }

    .notInverted {
        display: block;
    }

    .inverted .red {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .inverted img {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .body h2 {
        margin-top: 30px;
    }

    /* article  {
        display: block;
    }


    article .left {
        display: block;
    }

    article .left {
        width: 90%;
        margin: auto;
        display: block;
        width: 100%;
    }

    article .right {
        width: 90%;
        padding: 20px;
        margin: auto;
    }

    .right .container .row {
        display: flex;
    }

    .right .container .row .col  {
        position:relative;
        display: flex;
    }

    .temporary {
        margin: none;
        margin-top: 20px;
    }

    .temporary .left {
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .temporary .left img {
        height: 100%;
        margin: auto;
    }

    .temporary .right {
        display: block;
        width: 100%;
        background-color: red;
        margin: 0;
        padding: 0;
    }


    .temporary #studyGroupsSection {
        padding-bottom: 0;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    .temporary .right .black {
        display: block;
        position: relative;
        width: 100%;
        border-radius: 0;
    }

    .temporary #makeMoney {
        margin-top: 0;
        padding-top: 0;
    }

    .temporary #makeMoney .right {
        padding-top: 0;
    } */

}

/* ///////////////////////////////////////////////////////////////////////////////// */

.downloadSection {
    width: 90%;
    margin: auto;
    padding: 50px;
}

.downloadSection h2 {
    text-align: center;
}

.downloadSection .content {
    display: flex;
    justify-content:space-between;
    width: auto;
    margin: auto;
    width: 75%;
    max-width: 500px;
}

.downloadSection .content div {
    width: 50%;
    max-width: 200px;
}

.downloadSection img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 740px) {

    .downloadSection .content div {
        text-align: center;
    }

    .downloadSection img {
        width: 80%;
        margin: auto;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////// */


/* contactForm section */
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactForm .container .row {
    margin-left: none;
    display: block;
    margin: 0;
    padding: 0;
    padding: 20px;
    border-radius: 10px;
}

/* end of contact form */
/* ///////////////////////////////////////////////////////////////////////////////// */

footer {
    margin-top: 20px;
    /* background-image: url("./images/footer2.jpg"); */
    background-color: #01A79E;
    color: white;
    background-size: cover;
    background-position: center;
    padding-bottom: 75px;
}

footer a {
    color: white;
}

footer i {
    color: white;
}

footer i:hover {
    color: #00fbff;
}

footer .footerContent {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

footer h2 {
    font-size: 100%;
}

.socialMedia {
    width: 80%;
    flex: 1;
    padding: 20px;
    margin-left: 20px;
}

.getIt {
    width: 80%;
    flex: 1;
    padding: 20px;
    /* background-color: red; */
    
}

.getIt div {
    /* background-color: purple; */
    width: 100%;
}

.downloadIcons {
    /* background-color: pink; */
    width: 100%;
    display: flex;
    line-height: 3;
}


footer li {
    list-style: none;
}

footer .contact {
    width: 80%;
    flex: 1;
    padding: 20px;
}

footer .download {
    /* background-color: red; */
    display: flex;
}

footer .apple {
    /* margin-top: 20px; */
    width: 70%;
    height: auto;
    /* margin-bottom: 20px; */
}

footer .google {
    width: 70%;
    /* margin-bottom: 20px; */
}

footer img {
    width: 90%;
    max-width: 200px;
    position:static;
    border-radius: 5px;
    cursor: pointer;
}

.getIt .imagem {
    width: 100%;
    background-color: white;
}

footer i {
    font-size: 30px;
    float: left;
    margin: 20px;
}

footer p {
    color: white;
    margin: 0;
}

footer p a{
    color: white;
}

.hide {
    display: none;
}

.disclaimer {
    width: 100%;
    margin-top: auto;
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 100px;
    padding: 10px;
    text-align: justify;
}

.redStripe {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.481), black);
    position:relative;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    footer .footerContent {
        height: auto;
    }

    footer h2 {
        font-size: 15px;
    }

    footer a {
        font-size: 10px;
    }

    .icons {
        display: flex;
    }

    footer i {
        font-size: 20px;
    }

    .getIt {
        display: none;
    }

    .socialMedia {
        margin-left: 30px;
        display: block;
        padding: 20px;
    }

    .hide {
        display: block;
        margin-top: 20px;
    }

    .contact {
        padding: 20px;
        overflow: hidden;
    }

    footer i {
        margin: 5px;
    }

    footer .google {
        margin: 0;
    }

    .images img {
        margin: 20px;    
    }
}

/* other pages */
.main2 p {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: #01A79E;
    font-size: larger;
    font-size: 30px;
    color: white;
}

/* carrers.html */
.heroCareers {
    background-image: url(./images/interenship.jpg);
    background-size: cover;
    background-position: center calc(50% - 50px);  /*50% indicates horizontal property, 150px vertical property*/
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.heroCareers, .heroEvents, .heroNews, .heroTestemonials h2 {
    color: white;
    font-size: 7em;
}

/* events.html */
.heroEvents {
    background-image: url(./images/event.jpg);
    background-size: cover;
    background-position: center calc(50% - 150px); /* 50% indicates horizontal property, 150px vertical property */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

/* news.html */
.heroNews {
    background-image: url(./images/news.png);
    background-size: cover;
    background-position: center calc(50% + 30px); /* 50% indicates horizontal property, 150px vertical property */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }
  
  /* testemonials */
  .heroTestemonials {
    background-image: url(./images/testemonials.webp);
    background-size: cover;
    background-position: center calc(50% + 30px); /* 50% indicates horizontal property, 150px vertical property */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }


.main2 {
    color: white;
    font-size: 200px;
    background-color: white;
    /* position: absolute; */
}

.images {
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */
    margin: 20px;
}

.images img {
    width: 49%;
    height: 200px;
}

.article2 {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.logoSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .main2 {
        margin: 0;
        padding: 0;
    }

    .article2 {
        width: 95%;
        padding: 5px;
        text-align: justify;
    }
}

/* END OF CAREERS.HTML */

.internshipImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: red;
}

.internshipImg{
    width: 100%;
}
